<div class="row">
  <div class="col-md-9 col-lg-10">
    <div class="ace-wrapper">
      <ngx-ace
        (ready)="onEditorReady($event)"
        [formControl]="contentFc"></ngx-ace>
    </div>
  </div>
  <div class="col-md-3 col-lg-2">
    <form [formGroup]="optionsFg">
      <div class="form-group">
        <label for="mode">Mode</label>
        <select class="form-control" formControlName="mode" id="mode">
          <option *ngFor="let m of modes" [value]="m.id">{{m.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="theme">Theme</label>
        <select class="form-control" formControlName="theme" id="theme">
          <option *ngFor="let t of themes" [value]="t.id">{{t.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="fontSize">Font Size</label>
        <input type="number" id="fontSize" min="8" max="64" class="form-control" formControlName="fontSize">
      </div>
    </form>

  </div>
</div>

<div class="my-4">
  <pre>Model Value: {{contentFc.value | json}}</pre>
</div>
